.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.white-button {
  background:#fff;
}

.App-intro {
  font-size: large;
}

.needsPointer{
  cursor: pointer;
}

#content{
    display: flex;
    justify-content: center;
    overflow: hidden
}

#logo{
  position: absolute;
  padding-top: 270px;
}

#godown{
  padding-top: 30px;
  width: 100px;
  height: 50px;
}

#background{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

#search{
  position: absolute;
  padding-top: 700px;
  color: #ccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size:30pt;
  text-align: center;
}

#leagueList{
  height: 1000px;
  background-color: green;
}

#motto{
  font-weight: bold;
  font-style: italic;
  color: white;
  position: absolute;
  padding-top: 540px;
}

#view1{
  background-color: black;
  min-height:900px;
}

#lock{
  width: 100px;
  height: 100px;
}

#cardContainer{
  height: 350px;
  width: 350px;
  margin: auto;
}

#playerCard{
  margin: auto;
  height: 175px;
  width: 175px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 25px;

}


#view2{
  min-height:600px;
  color: white;
  background-color: black;
}

#view3{
  min-height:500px;
  color: white;
  background-color: black;
}


#surroundContainer{
  height: 100%;
}

#playerview1{
  background-color: black;
  min-height:600px;
}

#column1home{
  position: relative;
}
#column2{
  position: relative;
}

#row1team{
  width: 100%;
  height: 100%;
  position: relative;
}

#column2team:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#teamLogo{
  height: 700px;
  width: auto;
}

#playerview2{
  color: black;
  background-color: white;
}

#bio{
  color: white;
  padding-top: 50px;
  padding-right: 75px;
}

#matchDetails{
  color: white;
  font-size: 30px;
  vertical-align: middle;
  margin: auto;
}


#fixture_list{
  overflow-x: auto;
  height: 400px;
  width: 100%;
  padding-top: 17px;
  padding-left: 50px;
  padding-bottom: 20px;
}


#team_grid{
  padding-top: 30px;
  padding-left: 50px;
}

.standing_logos{
  height: 30px;
  width: 30px;
}


#team_tile_image{
  height: 100px;
  width: 100px;
}

#fixturehomeimage{
  margin: auto;
  height: 35px;
  width: 35px;
}
#fixtureawayimage{
  margin: auto;
  height: 35px;
  width: 35px;
}

#fixturehomeimageteam{
  margin: auto;
  height: 350px;
  width: 350px;
}
#fixtureawayimageteam{
  margin: auto;
  height: 350px;
  width: 350px;
}

.ui.card{
  align-items: center;
}
#stats{
  width: 700px;
  top: 0;
  right: 0;
}
